{% extends 'base_generic.html' %}

{% block content %}
  <h2 style="font-size: 32px; color:rgb(92, 107, 6)" class="">{{ user.username }}'s Profile</h2>
  
  <h2>Created Courses</h2>
  {% if created_courses %}
    <ul>
      {% for course in created_courses %}
        <li>
          <a href="{% url 'course_detail' course.id %}">{{ course.title }}</a>
          <a href="{% url 'edit_course' course.id %}" type="submit">Edit</a>
          <form action="{% url 'delete_course' course.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button
            style="border: 1px solid aqua; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;" class="mt-6 bg-emerald-800 p-2 rounded-md m-auto w-fit text-lime-100" 
            type="submit">Delete</button>
          </form>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No courses created.</p>
  {% endif %}
  
  <h2>Enrolled Courses</h2>
  {% if enrolled_courses %}
    <ul>
      {% for enrollment in enrolled_courses %}
        <li>
          <a href="{% url 'course_detail' enrollment.course.id %}">{{ enrollment.course.title }}</a>
          <!-- Кнопка для отписки от курса -->
          <form action="{% url 'unenroll' enrollment.course.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit"
            style="border: 1px solid aqua; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;" 
            class="mt-6 bg-emerald-800 p-2 rounded-md m-auto w-fit text-lime-100" type="submit"
            >Unenroll</button>
          </form>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No enrolled courses.</p>
  {% endif %}
{% endblock %}